{{!-- views/layouts/main.hbs --}}
<!DOCTYPE html>
<html>

<head>
    {{> head}}
</head>

<body>
    {{> nav}}

    <div class="container mt-2">
        {{> message}}
    </div>

    <main class="container mt-4">
        {{{body}}}
    </main>

    {{> footer}}

    <script src="/ProjectSourceCode/src/resources/js/script.js"></script>
</body>

</html>