{{!-- views/layouts/main.hbs --}}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {{> head}}
</head>

<body class="h-100 d-flex flex-column">

    <nav class="navbar navbar-expand-lg border-bottom">
        {{> nav}}
    </nav>

    <div class="container mt-2">
        {{> message}}
    </div>

    <main class="container mt-4">
        {{{body}}}
    </main>

    <footer class="text-center text-muted w-100 mt-auto fixed-bottom">
        {{> footer}}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/js/script.js"></script>
</body>

</html>