{{!-- views/layouts/main.hbs --}}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {{> head}}
</head>

<body class="h-100 d-flex flex-column">

    <nav class="navbar navbar-expand-sm border-bottom">
        {{> nav}}
    </nav>

    <div class="container mt-2">
        {{> message}}
    </div>

    <main class="container mt-4">
        {{{body}}}
    </main>

    {{> footer}}

    <script src="/resources/js/script.js"></script>
</body>

</html>