<p>{{greeting}}, {{user.username}}!</p>


<nav>
    <ul>
        <li>Use the links below to access your account and interact with Loconotion.</li>
        <li><a href="/">App Home</a></li>
        {{#if user}}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/create">Create Note</a></li>
        <li><a href="/notes">View Notes</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}

    </ul>
</nav>