<p>Welcome to the project. This is the home page.</p>
<nav>
    <ul>
        <li>Use the links below to access your account and stay connected with the project.</li>
        <li><a href="/">App Home</a></li>
        {{#if user}}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/create">Create Note</a></li>
        <li><a href="/notes">View Notes</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}

    </ul>
</nav>