<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>
    <header>
        <h1>{{title}}</h1>
        {{#if user}}
        <p>Signed in as {{user.name}}</p>
        {{/if}}
    </header>

    <main>
        <p>Welcome to the project. This is the home page.</p>
        <nav>
            <ul>
                <li>Use the links below to access your account and stay connected with the project.</li>
                <li><a href="/">App Home</a></li>
                {{#if user}}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/create">Create Note</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}

            </ul>
        </nav>
    </main>

    <footer>
        <p>&copy; Team 4</p>
    </footer>

    <script src="/resources/js/script.js"></script>
</body>

</html>