<div class="container mt-5 text-center">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-success">Logout Successful</h1>
            <p class="col-md-8 fs-4 mx-auto">You have been securely logged out.</p>
            <hr class="my-4">
            <p>Ready to go back? Use the button below to return to the login screen.</p>
            <a href="/login" class="btn btn-primary btn-lg" type="button">Return to Login</a>
        </div>
    </div>
</div>